{{#extends 'base'}}

{{#block 'content'}}
<form method="GET">
   {{{form}}}
    <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search"/>
</form>
<a href="/cakes/create" class="btn btn-success mt-3">create</a>
<table class="table">
    <thead>
        <tr>
            <th>Cake Image</th>
            <th>Cake ID</th>
            <th>Cake Name</th>
            <th>Make Time (day)</th>
            <th>Description</th>
            <th>Season</th>
            <th>Ingredients</th>
            <th>EDIT</th>
        </tr>
    </thead>
    <tbody>
        {{#each cakes}}
        <tr>
            <td>
                <div>
                    {{#if this.image_url}}
                    <img src="{{this.image_url}}" id="uploaded_image" width="200" />
                    {{else}}
                    <img src="" style="display:none" id="uploaded_image" />
                    {{/if}}
                </div>
            </td>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.waittime}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                {{this.season.name}}
            </td>
            <td>
                {{#each this.ingredients}}
                <ul>
                    <li>{{this.name}}</li>
                </ul>
                {{/each}}
            </td>
            <td>
                <a href="/cakes/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/cakes/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>

{{/block}}

{{/extends}}