{{#extends 'base'}}

{{#block 'content'}}
<a href="/cakes/create" class="btn btn-success mt-3">create</a> 
<table class="table">
    <thead>
        <tr>
            <th>Cake ID</th>
            <th>Cake Name</th>
            <th>Make Time (day)</th>
            <th>Description</th>
            <th>Season</th>
            <th>Ingredients</th>
            <th>EDIT</th>
        </tr>
    </thead>
    <tbody>
        {{#each cakes}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.waittime}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                {{this.season.name}}
            </td>
            <td>
                {{#each this.ingredients}}
                <ul>
                    <li>{{this.name}}</li>
                </ul>
                {{/each}}
            </td>
            <td>
                <a href="/cakes/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/cakes/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>    
        </tr>
        {{/each}}
        
    </tbody>
</table>
{{/block}}

{{/extends}}