{{#extends 'base'}}

{{#block 'content'}}
<h1>Deleting Product: {{product.name}}</h1>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <div class="alert alert-danger">
        <p>{{message}}</p>
        {{#if message}}
            <div></div>
        {{else}}
            <p>Are you sure you want to delete product {{product.name}}?</p>
             <input type="submit" class="btn btn-danger" value="Yes"/>
        {{/if}}
        <a href="/products" class="btn btn-success">No</a>
    </div>
</form>
{{/block}}
{{/extends}}
