{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Make Time (day)</th>
            <th>Season</th>
            <th>Cake Size</th>
            <th>Description</th>
            <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.cake.name}}
            </td>
            <td>
                {{this.price}}
            </td>
            <td>
                {{this.cake.waittime}}
            </td>
            <td>
                {{this.cake.season.name}}
            </td>
            <td>
                {{this.cakesize.size}}
            </td>
            <td>
                {{this.cake.description}}
            </td>
            <td>
                {{#each this.cake.ingredients}}
                <ul>
                    <li>{{this.name}}</li>
                </ul>
                {{/each}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}