{{#extends 'base'}}

{{#block 'content'}}
<a href="/products/create" class="btn btn-success mt-3">create</a> 
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price (Cents)</th>
            <th>Make Time (day)</th>
            <th>Season</th>
            <th>Cake Size (CM)</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>EDIT</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.cake.name}}
            </td>
            <td>
                {{this.price}}
            </td>
            <td>
                {{this.cake.waittime}}
            </td>
            <td>
                {{this.cake.season.name}}
            </td>
            <td>
                {{this.cakesize.size}}
            </td>
            <td>
                {{this.cake.description}}
            </td>
            <td>
                {{#each this.cake.ingredients}}
                <ul>
                    <li>{{this.name}}</li>
                </ul>
                {{/each}}
            </td>
            <td>
                {{!-- commented out. comment back in for testing purpose only! --}}
                {{!-- <a href="/cart/{{this.id}}/add" class="btn btn-success btn-sm">Add to cart</a> --}}
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>  
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}